{% extends 'EsolvingEschoolGuestBundle::template.html.twig' %}
{% trans_default_domain "EsolvingEschoolCoreBundle" %}
{% block title %}{% trans %}javascript_disabled{% endtrans %}{% endblock%}
{% block content %}
<div id="content">
    {{ block('title') }}
</div>
{% endblock %}